@font-face {
  font-family: "Jost";
  src: url("../fontsJost-ExtraBoldItalic.woff2") format("woff2"), url("../fontsJost-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fontsJost-Bold.woff2") format("woff2"), url("../fontsJost-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fontsJost-ExtraLight.woff2") format("woff2"), url("../fontsJost-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fontsJost-Black.woff2") format("woff2"), url("../fontsJost-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fontsJost-BlackItalic.woff2") format("woff2"), url("../fontsJost-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fontsJost-BoldItalic.woff2") format("woff2"), url("../fontsJost-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fontsJost-ExtraLightItalic.woff2") format("woff2"), url("../fontsJost-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fontsJost-ExtraBold.woff2") format("woff2"), url("../fontsJost-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fontsJost-Light.woff2") format("woff2"), url("../fontsJost-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fontsJost-LightItalic.woff2") format("woff2"), url("../fontsJost-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fontsJost-Medium.woff2") format("woff2"), url("../fontsJost-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fontsJost-Italic.woff2") format("woff2"), url("../fontsJost-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fontsJost-MediumItalic.woff2") format("woff2"), url("../fontsJost-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fontsJost-Regular.woff2") format("woff2"), url("../fontsJost-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fontsJost-Thin.woff2") format("woff2"), url("../fontsJost-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fontsJost-ThinItalic.woff2") format("woff2"), url("../fontsJost-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fontsJost-SemiBoldItalic.woff2") format("woff2"), url("../fontsJost-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fontsJost-SemiBold.woff2") format("woff2"), url("../fontsJost-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}/*# sourceMappingURL=fonts.css.map */